/*body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: none repeat scroll 0 0 white;
    font-family: "Lucida Fax";
	font-size: 15px;
}

#container {
	margin: auto;
	width: 1450px;
	padding-top: 30px;
}

#header {
	margin: auto;
	background-repeat: no-repeat;
	padding: 0px;
	border: 1px;
}

#uploader {
	width: 850px;
	float: left;
}

#helper {
	width: 480px;
	float: right;
	text-align: left;
}
*/

@charset "UTF-8";
body {
	padding-top: 75px;
}
	
.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.btn.active {
    background-color: 00CC33;
}
